body 
{
    background-color: cyan;

}
table 
{
    border: 2px solid black;
    padding: 5px;
    border-collapse: collapse;
}
th 
{
    border: 1px solid black;
    padding: 5px;
}
td
{
    border: 1px solid black;
    padding: 5px;
}